<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Following two links are part of the css framework Spectre https://picturepan2.github.io/spectre/index.html }}
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />

    {{! CSS links }}
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/projects.css" />
    <link rel="stylesheet" href="/project-detail.css" />
    <link rel="stylesheet" href="/about_contact.css" />
    <link rel="stylesheet" href="/blog.css" />
    <link rel="stylesheet" href="/login.css" />
    <link rel="stylesheet" href="/creating_and_editing.css" />
    <link rel="stylesheet" href="/account.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    {{!   Font: Raleway, ny Matt McInerney, Pablo Impallari and Rodrigo Fuenzalida. From google fonts. 
    Link: https://fonts.google.com/specimen/Raleway?category=Sans+Serif&thickness=5&preview.text=Saga%20Studio&preview.size=22&preview.text_type=custom }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />

    <title>Saga Studio</title>
  </head>
  <body>

    {{! Navigation bar when window size is big }}
    <nav class="hide-md">
      <div class="nav-content">
        <span class="nav-links left">
          <a href="/" class="text-primary">Home</a>
          <a href="/#projects" class="text-primary">Projects</a>
          <a href="/blog?page=1" class="text-primary">Blog</a>
        </span>
        <a href="/"><h1 class="logga">Saga Studio</h1></a>
        <span class="nav-links">
          <a href="/about" class="text-primary">About</a>
          <a href="/contact" class="text-primary">Contact</a>
          {{#unless session.isLoggedIn}}
            <a href="/login" class="text-primary">Login</a>
          {{else}}
            <form action="/logout" method="post">
              <input
                class="logout-button text-primary"
                type="submit"
                value="Logout"
              />
            </form>
          {{/unless}}
        </span>
      </div>

    </nav>

    {{! Navigation bar when window size is small }}
    <nav class="show-md">
      <h1 class="logga">Saga Studio</h1>
      <div class="nav-content">
        <a href="/" class="text-primary">Home</a>
        <a href="/#projects" class="text-primary">Projects</a>
        <a href="/blog?page=1" class="text-primary">Blog</a>
        <a href="/about" class="text-primary">About</a>
        <a href="/contact" class="text-primary">Contact</a>
        {{#unless session.isLoggedIn}}
          <a href="/login" class="text-primary">Login</a>
        {{else}}
          <form action="/logout" method="post">
            <input
              class="logout-button text-primary"
              type="submit"
              value="Logout"
            />
          </form>
        {{/unless}}
      </div>

    </nav>

    <div class="main-content">
      {{{body}}}
    </div>

    <footer>
      <p class="footer">Copyright &copy; 2022 Saga Lannerhjelm</p>
    </footer>
  </body>
</html>