{{! <img class="stroke-cloud" src="/images/fluffy_cloud_v2.svg" alt="Fluffy cloid illustration" /> }}

<div class="about-container">
  <div class="img-container">
    {{! <img
      class="img-fit-cover img-responsive"
      src="/images/selfie_saga.png"
      alt="An illustrated character picturing Saga Lannerhjelm"
    /> }}
    <img
      class="img-fit-cover img-responsive selfie"
      src="/images/IMG_0013.jpeg"
      alt="An illustrated character picturing Saga Lannerhjelm"
    />
  </div>
  <div class="about-text">
    <h2 class="title text-primary">About me</h2>
    <p>Hello! My name is Saga Lannerhjelm and I am a 20 year old student at Jönköping University studying New
      Media Design &lpar;Graphic design and web development&rpar;.
      <br />
      <br />
      I am someone with a big interest in both graphic design and web development. But my passion for frontend
      have increased a lot during the last couple of years.
    </p>
  </div>
</div>