<div class="account-page"></div>
    <div class="account-container">
        <h2 class="title text-primary account-title">Your account</h2>
                <div class="account-details">
                    <p> Username: <i>{{user.Username}}</i></p>
                    <p> Name: <i>{{user.Name}}</i></p>
                    <p>Email: <i>{{user.Email}}</i></p>
                </div>
        <a href="/login"><button class="btn btn-primary p-centered logout-button">Logout</button></a>
    </div>
</div>
