<div class="account-page"></div>
    <div class="account-container">
        <h2 class="title text-primary account-title">Your account</h2>
                <div class="account-details">
                {{#each admin}}
                    <p> Name: <i>{{adminName}}</i></p>
                    <p>Email: <i>{{adminMail}}</i></p>
                {{/each}}
                </div>
        <a href="/login"><button class="btn btn-primary p-centered logout-button">Logout</button></a>
    </div>
</div>
