<div class="account-page">
  <div class="account-container">
    <h2 class="title text-primary account-title">Your account</h2>
    <div class="account-details">
      {{#each admin}}
        <p> Name: <i>{{adminName}}</i></p>
        <p>Email: <i>{{adminMail}}</i></p>
      {{/each}}
    </div>
    <form action="/logout" method="post">
      <button
        type="submit"
        class="btn btn-primary p-centered logout-button"
      >Logout</button>
    </form>
  </div>
</div>