<div class="contact-container">

  <div>
    <h2 class="text-primary">Contact Me</h2>
    <p>Mail:
      <a
        class="text-dark"
        href="mailto:lasa21ui@student.ju.se"
      >lasa21ui@student.ju.se</a>
      <br />
      Phone number:
      <a class="text-dark">012 345 67 89</a>
      <br />
      Instagram:
      <a
        class="text-dark"
        href="https://www.instagram.com/drawingsby_saga/"
        target="_blank"
      >drawingsby_saga</a></p>
  </div>
  <div class="box">
    <img
      src="/fluffy_cloud_contact.svg"
      alt="Illustration of a purple colored cloud with a paper airplane flying by"
    />
  </div>
</div>