<div class="login-page">
  <div class="card login-container p-centered">
    <div class="card-header p-centered">
      <div class="card-title h3 login-title">Login</div>
    </div>
    <div class="card-body login-margin">
      <div class="form-group">
        <label class="form-label" for="input-example-1">Mail</label>
        <input
          class="form-input"
          type="text"
          id="input-example-1"
          placeholder="Mail"
        />
      </div>
      <div class="form-group">
        <label class="form-label" for="input-example-1">Password</label>
        <input
          class="form-input"
          type="text"
          id="input-example-1"
          placeholder="Password"
        />
      </div>
      <button class="btn btn-primary p-centered login-button">Login</button>
    </div>
  </div>
</div>