<p class="my-breadcrumb position-absolute">
  <a class="breadcrumb-link" href="/#projects">Projects</a>
  /
  <a class="breadcrumb-link">New project</a>
</p>

<div class="form-page">
  <div class="card form-container p-centered new-project-container">
    <div class="card-header p-centered">
      <div class="card-title h3 form-title">New project</div>
    </div>

    {{! Display error messages }}
    {{#if errorMessage.length}}
      <div class="error-message-container bg-error">
        <ul class="error-message text-light">
          {{#each errorMessage}}
            <li class="error-message-list">{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <form
      action="/new-project"
      method="post"
      class="card-body form-content side-margin"
    >
      <div>
        <div class="form-group">
          <label class="form-label">Title</label>
          <input
            name="title"
            class="form-input"
            type="text"
            placeholder="Title"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Description</label>
          <textarea
            class="form-input"
            type="text"
            placeholder="Description"
            name="description"
            rows="6"
          ></textarea>
        </div>
      </div>
      <div>
        <div class="form-group">
          <label class="form-label">Category</label>
          <select name="category" class="form-select text-dark">
            <option>Choose an option</option>
            <option>Illustration</option>
            <option>Game development</option>
            <option>Website</option>
            <option>Graphic design</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">Date</label>
          <input name="date" class="form-input" type="date" />
        </div>
        <div class="form-group">
          <label class="form-label">File</label>
          <input
            name="file"
            class="form-input"
            type="file"
            placeholder="Upload a file"
          />
        </div>
      </div>
      <div class="button-container">
        <a class="btn" href="/#projects">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

  </div>
</div>