<div class="temporary-place-holder">
  <img class="cloud" src="fluffy_cloud.svg" alt="fluffy cloid illustration" />
</div>
<div class="projects-container padding">
  <div class="project-section" id="projects"><h2 class="title">Projects</h2>
    <button class="filter-button">Filter</button>
    {{! <div class="chip-container">
      <span class="chip">All</span>
      <span class="chip">Illustrations</span>
      <span class="chip">Games</span>
    </div> }}
  </div>
  <a class="add-button" href="/new-project">+</a>

  {{#if projects.length}}
    <div class="project-grid-container">
      <div class="project-grid">
        {{#each projects}}
          <a href="/projects/{{id}}" class="picture-placeholder">{{Picture}}</a>
        {{/each}}
      </div>
    </div>

  {{else}}
    <p>No projects exist.</p>
  {{/if}}
</div>