<div class="intro-container">
  <img
    class="cloud place-below"
    src="/images/fluffy_cloud.svg"
    alt="fluffy cloud illustration"
  />
  <div class="p-fixed place-below">
    <div class="intro place-below">
      <h1 class="place-below text-normal">Hi, I'm Saga!</h1>
      <h2 class="place-below text-normal">Welcome to my page</h2>
      {{! <div class="button-container intro-buttons">
        <a
          href="https://www.instagram.com/drawingsby_saga/"
          target="_blank"
          class="btn"
        >
          Instagram</a>
        <a href="mailto:lasa21ui@student.ju.se" class="btn">Mail</a>
      </div> }}
    </div>
  </div>

</div>

<div class="projects-container padding">
  <div class="project-section" id="projects"><h2 class="title">Projects</h2>
    {{! <button class="filter-button">Filter</button> }}
    <div class="filter-container">
      <span class="chip btn btn-primary">All</span>
      <span class="chip">Illustrations</span>
      <span class="chip">Games</span>
      <span class="chip">Web design</span>
      <span class="chip">Graphic design</span>
    </div>
  </div>

  {{#if session.isLoggedIn}}
    <a class="add-button add-proj-button" href="/new-project">+</a>
  {{/if}}

  <div class="project-grid">
    {{#if project.length}}
      {{#each project}}
        <a href="/project/{{projId}}" class="img-responsive img-fit-cover">
          <img
            src="/images/{{projPicture}}"
            class="project-picture"
            alt="Picture of a project"
          />
        </a>
      {{/each}}

    {{else}}
      <p>No projects exist.</p>
    {{/if}}
  </div>
</div>