<div class="temporary-place-holder">
  <img class="cloud" src="fluffy_cloud.svg" alt="fluffy cloid illustration" />
</div>

<div class="projects-container padding">
  <div class="project-section" id="projects"><h2 class="title">Projects</h2>
    {{! <button class="filter-button">Filter</button> }}
    <div class="filter-container">
      <span class="chip btn btn-primary">All</span>
      <span class="chip">Illustrations</span>
      <span class="chip">Games</span>
      <span class="chip">Web design</span>
      <span class="chip">Graphic design</span>
    </div>
  </div>
  <a class="add-button add-proj-button" href="/new-project">+</a>

  <div class="project-grid">
    {{#if projects.length}}
      {{#each projects}}
        <a href="/projects/{{id}}" class="img-responsive img-fit-cover">
          <img src="{{Picture}}" class="project-picture" />
        </a>
      {{/each}}

    {{else}}
      <p>No projects exist.</p>
    {{/if}}
  </div>
</div>