<div class="intro-container">
  <div class="p-fixed place-below">
    <div class="intro place-below intro-text-container">
      <h1 class="place-below text-normal greeting">Hi, I'm Saga!</h1>
      <h2 class="place-below text-normal greeting-p2">Welcome to my page</h2>
    </div>
  </div>

</div>

<div class="projects-container padding-on-bottom">
  <div class="project-section" id="projects"><h2 class="title">Projects</h2>
    {{! <button class="filter-button">Filter</button> }}
    <div class="filter-container">
      <a href="/#projects" class="chip btn btn-primary">All</span>
      <a href="/projects/Illustration" class="chip">Illustrations</a>
      <a href="/projects/Game development"class="chip">Games</a>
      <a href="/projects/Web design" class="chip">Web design</a>
      <a href="/projects/Graphic design" class="chip">Graphic design</a>
    </div>
  </div>

  {{#if session.isLoggedIn}}
    <a class="add-button add-proj-button" href="/new-project">+</a>
  {{/if}}

  <div class="project-grid">
    {{#if projects.length}}
      {{#each projects}}
        <a href="/project/{{projId}}" class="img-responsive img-fit-cover">
          <img
            src="/uploads/{{projPictureName}}"
            class="project-picture"
            alt="Picture of a project"
          />
        </a>
      {{/each}}

    {{else}}
      <p>No projects exist.</p>
    {{/if}}
  </div>
</div>