.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  column-gap: 8%;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
  padding-top: 60px;
  max-width: var(--max-width-main);
  align-items: center;
}

.img-container {
  margin-bottom: 50px;
}

.stroke-cloud {
  position: absolute;
  margin-top: -25px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 99%;
}

.selfie {
  width: 100%;
}

.about-text {
  text-align: left;
  margin-bottom: 100px;
}

/* Contact page */

.contact-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin-top: 0%;
  align-items: center;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 89vh;
  padding-top: 30px;
}

.box {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}

@media screen and (max-width: 840px) {
  .stroke-cloud {
    display: none;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }
  .img-container {
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .about.title {
    margin-top: -25px;
  }
  .contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 91vh;
  }
  .contact-container {
    height: 80%;
    width: var(--max-width-main);
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }
  .contact-info-container {
    text-align: center;
  }
  .box {
    display: flex;
    justify-content: center;
  }
  .contact-image {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .about.title {
    text-align: center;
    justify-content: center;
  }
}
