/* .account-page {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 89vh;
}

.account-container {
  text-align: center;
  border-radius: 5px;
}

.account-title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.account-details {
  margin-top: 40px;
}

.logout-button {
  margin-top: 50px;
  margin-bottom: 60px;
} */
