.blog-page {
  background-color: var(--white);
}

.new-blog-button {
  margin-top: 150px;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: var(--max-width-main);
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}
.blog-date {
  font-weight: lighter;
  font-size: 15px;
  color: #848484;
}

.blog-descr {
  margin-top: 15px;
  line-height: 1.6;
}

.blog-pic {
  width: 100%;
  background-color: rgb(121, 121, 121);
  border: 1px solid gray;
  margin-bottom: 30px;
}

/* Comment section */

.comments-title {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: normal;
  text-align: center;
}

.comment-container {
  background-color: var(--dark-blue);
  border-radius: 10px;
  color: #d5d5d5;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  max-width: var(--max-width-main);
  margin-left: auto;
  margin-right: auto;
}

.comment-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding-left: 25px;
  padding-right: 25px;
}

.name {
  font-weight: bold;
  margin-bottom: 0px;
  height: 20px;
}

.comment {
  font-size: 10pt;
  margin-top: 5px;
  padding-left: 25px;
  /* padding-right: 20px; */
  line-height: 1.4;
  margin-bottom: 10px;
}

.comment-date {
  text-align: right;
  font-size: 8pt;
  color: #848484;
  margin-bottom: 15px;
}

.comment-icons {
  display: flex;
  justify-content: end;
  justify-items: end;
  align-items: flex-end;
  align-content: flex-end;
}

.send-comment-button {
  margin-top: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .blog-descr {
    font-size: 16px;
  }
  .comment {
    font-size: 16px;
  }
}
