/* Login page */

.login-page {
  background-color: var(--gray);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  width: 380px;
  height: 60%;
  border-radius: 5px;
}

.login-margin {
  margin-top: 40px;
}

.login-button {
  margin-top: 120px;
}

.form-title {
  margin-top: 20px;
}

/* new project page */

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.new-project-container {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
}

.form-container {
  display: flex;
  width: 800px;
  height: 60%;
  border-radius: 5px;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.side-margin {
  margin-left: 10px;
  margin-right: 10px;
}
