/* Login page */

.form-page {
  background-color: var(--gray);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.login-container {
  display: flex;
  width: 380px;
  height: 60%;
  border-radius: 5px;
}

.login-margin {
  margin-top: 40px;
}

.login-button {
  margin-top: 60px;
}

.form-title {
  margin-top: 20px;
}

/* new project and plogpost */

.button-container {
  display: flex;
  margin-bottom: 20px;
  column-gap: 30px;
  justify-content: center;
  align-items: flex-end;
}

.new-project-container {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
}

.form-container {
  display: flex;
  width: 800px;
  height: auto;
  border-radius: 5px;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 40px;
}

.side-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.blog-form-margin {
  margin-bottom: 20px;
}

/* New picture pages */

.picture-input {
  margin-bottom: 30px;
}

.blog-form-container {
  background-color: var(--white);
  color: #000000;
  border: none;
}

/* Edit comments pages */

.edit-comment-page {
  background-color: var(--gray);
  height: 100vh;
}

.thumbnail-picture {
  height: 80px;
}

.edit-comment-title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 15px;
}

.content-width {
  margin-left: 60px;
  margin-right: 60px;
}

.edit-comment-buttons {
  display: flex;
  grid-gap: 20px;
  margin-top: 25px;
}

/* edit picture page */

.picture-edit-button {
  height: 25px;
  width: auto;
}

@media screen and (max-width: 500px) {
  .form-page {
    height: auto;
  }
  .login-container {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  p.my-breadcrumb.position-absolute {
    margin-top: 20px;
  }
  .form-container {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    margin-bottom: 25px;
  }
  .form-content {
    grid-template-columns: 1fr;
  }
  .button-container {
    margin-top: 40px;
    padding-top: 20px;
    padding-right: 0px;
  }
  .edit-comment-buttons {
    justify-content: center;
    margin-bottom: 20px;
  }
}
