/* Login page */

.login-container {
  display: flex;
  width: 380px;
  height: 60%;
  border-radius: 5px;
}

.login-margin {
  margin-top: 40px;
}

.login-button {
  margin-top: 60px;
}

@media screen and (max-width: 500px) {
  .login-container {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
}
