html {
  --dark-blue: #06062c;
  --white: #ffffff;
  --main-purple: #782afe;
  --gray: rgb(160, 160, 160);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  /* background: linear-gradient(
    90deg,
    rgba(122, 201, 236, 1) 0%,
    rgba(102, 137, 224, 1) 37%,
    rgba(238, 157, 250, 1) 100%
  ); */
  min-height: 100vh;
}

/* Style of the navigation bar */

nav {
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* box-shadow: 0px 0px 10px 2px rgb(232, 232, 232); */
}

.nav-content {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  align-items: center;
  height: 45px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-links {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  text-align: center;
}

.nav-links.left {
  margin-left: 20px;
}

nav h1 {
  text-align: center;
  color: rgb(45, 44, 44);
  font-size: 15pt;
}

.logga {
  margin-top: 8px;
}

nav a {
  text-decoration: none;
  color: rgb(45, 44, 44);
}

nav a:hover {
  text-decoration: underline;
  color: rgb(121, 121, 121);
}

/* Main content */
.main-content {
  /* padding-top: 60px; */
  margin-bottom: 15px;
}

.title {
  margin-top: 60px;
  font-weight: normal;
}

.padding {
  padding-bottom: 180px;
}

.cloud {
  position: fixed;
  z-index: -1;
}

/* Style of big add button */

.add-button {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 4px solid var(--main-purple);
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 30pt;
  font-weight: 300;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
}

/* Style of the footer */

.add-button:hover {
  cursor: pointer;
  background-color: rgba(21, 18, 199, 0.3);
  border: 4px solid #ae80fe;
  color: #ffffff;
  text-decoration: none;
}

.footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
  color: black;
}

@media screen and (max-width: 840px) {
  .logga {
    padding-top: 10px;
  }
  .nav-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
  }
}
