html {
  --dark-blue: #06062c;
  --white: #ffffff;
  --main-purple: #782afe;
  --gray: rgb(160, 160, 160);
  --max-width-main: 65%;
  --max-width-secondary: 80%:
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 0px;
  background-color: var(--white);
  /* background: linear-gradient(
    90deg,
    rgba(122, 201, 236, 1) 0%,
    rgba(102, 137, 224, 1) 37%,
    rgba(238, 157, 250, 1) 100%
  ); */
  min-height: 100vh;
}

/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
/* body::after {
  height: 50px;
} */

/* Style of the navigation bar */

nav {
  margin-top: 0px;
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  /* box-shadow: 0px 0px 10px 2px rgb(232, 232, 232); */
}

.nav-content {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  align-items: center;
  height: 45px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-links {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  text-align: center;
  color: var(--main-purple);
}

.nav-links.left {
  margin-left: 20px;
}

nav h1 {
  text-align: center;
  color: rgb(45, 44, 44);
  font-size: 15pt;
}

.logga {
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
}

nav a {
  text-decoration: none;
  color: rgb(45, 44, 44);
}

nav a:hover {
  text-decoration: underline;
  color: rgb(121, 121, 121);
}

.logout-button {
background-color: var(--white);
border: none;
}

.logout-button:hover {
  text-decoration: underline;
  color: rgb(121, 121, 121);
  cursor: pointer;
}

.intro-container {
  background-image: url(/images/low_opacity_clouds.png);
  background-repeat: repeat;
  background-size: 110vw;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.cloud {
  position: fixed;
  margin-top: -30px;
}

.place-below {
  z-index: -1;
}

.intro {
  position: relative;
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-buttons {
  margin-top: 20px;
}

/* Main content */
.main-content {
  margin-top: 40px;
  margin-bottom: 15px;
}

.title {
  display: flex;
  margin-top: 60px;
  font-weight: normal;
}

.my-breadcrumb {
  padding-top: 20px;
  margin-top: 20px;
  margin-left: 7em;
  color: #bfbfbf;
}

.breadcrumb-link {
  font-size: 12px;
  color: #bfbfbf;
  text-decoration: none;
}

.breadcrumb-link:hover {
  font-size: 12px;
  color: #dcdcdc;
  text-decoration: underline;
}

.padding-on-bottom {
  padding-bottom: 120px;
}

.icons {
  width: 30px;
}

.icons:hover {
  opacity: 70%;
  cursor: pointer;
}

.margin-left {
  margin-left: 15px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

/* Error */
.error-message-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.error-message-container-extended {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.error-message {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: center;
  font-size: 13px;
  line-height: 1em;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;

}

.error-message-list {
  margin-top: 5px;
}

/* Style of big add button */

.add-button {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 4px solid var(--main-purple);
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 30pt;
  font-weight: 300;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.add-button:hover {
  cursor: pointer;
  background-color: rgba(21, 18, 199, 0.3);
  border: 4px solid #ae80fe;
  color: #ffffff;
  text-decoration: none;
}

/* Delete button */

.icon-button {
  background-color: none;
  color: none;
  border: none;
  width: 35px;
}

.blue-button {
  background-color: var(--dark-blue);
}

.white-button {
  background-color: var(--white);
}

/* Style of the footer */

.footer {
  position: absolute;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0px;
  padding-bottom: 10px;
  width: 100%;
  color: gray;
}

/* Locked / page not found page */

.clouds-picture {
  max-width: 100vw;
  opacity: 60%;
  z-index: -1;
  filter: grayscale(100%);
}

.locked-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
}

.not-logged-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c9c4cf;
  padding: 50px;
  border-radius: 5px;
}

/* Make CSS responsive */

@media screen and (max-width: 840px) {
  .logga {
    padding-top: 10px;
  }
  .nav-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
  }
}

@media screen and (max-width: 500px) {
  html {
    --max-width-main: 85%;
  }
  .intro-container {
    background-image: url(/images/low_opacity_clouds.png);
    background-size: 300vw;
    background-attachment: fixed;
    height: 100vh;
  }
  .intro-text-container {
    margin-top: -100px;
  }
  .greeting {
    font-size: 30px;
  }
  .greeting-p2 {
    font-size: 25px;
  }
  .main-content {
    margin-top: 100px;
  }
  .title {
    margin-top: 30px;
    font-size: 25px;
  }
  .my-breadcrumb {
    margin-top: 100px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  .breadcrumb-link {
    font-size: 14px;
  }
}