.project-page {
  background-color: var(--dark-blue);
  color: var(--white);
}

.project-container {
  display: grid;
  max-width: var(--max-width-main);
  margin-left: auto;
  margin-right: auto;
}

.project-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50x 50px 1fr;
  grid-template-areas:
    "text date"
    "text category"
    "text .";
  color: #c4c4c4;
  line-height: 1.6;
}

.project-descr {
  line-height: 1.6;
  grid-area: text;
}

.project-date {
  grid-area: date;
  text-align: right;
}

.project-category {
  grid-area: category;
  text-align: right;
}

/* .date-category-container {
  text-align: right;
} */

.project-pic {
  margin-top: 30px;
  width: 100%;
  height: auto;
  background-color: rgb(157, 157, 157);
}

@media screen and (max-width: 840px) {
  .project-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50x 1fr;
    grid-template-areas:
      "date category"
      "text text";
  }

  .project-date,
  .project-category {
    text-align: left;
  }
}
