/* Project section on the home screen*/

.white-text {
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  text-align: center;
  opacity: 70%;
}

.add-proj-button {
  margin-top: 30px;
}

.projects-container {
  background-color: var(--dark-blue);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-section {
  display: grid;
  justify-items: center;
  align-content: center;
  padding-top: 0px;
  font-weight: normal;
  color: var(--white);
}

.filter-buttons-container {
  /* display: flex; */
  column-gap: 3px;
  row-gap: 5px;
  max-width: 80%;
  /* flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "first second third fourth";
}

.all-button {
  grid-area: first;
}

.ill-button {
  grid-area: second;
}

.prog-button {
  grid-area: third;
}

.gra-button {
  grid-area: fourth;
}

.project-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  max-width: var(--max-width-main);
  margin-left: auto;
  margin-right: auto;
}

.project-picture {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.project-picture:hover {
  animation-name: hover-opacity;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.image-proj-container {
  position: relative;
  background-color: black;
}

.project-title {
  position: absolute;
  text-decoration: none;

  width: 100%;
  bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  visibility: hidden;
  color: var(--white);
  border-radius: (20px 20px 50px 80px);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  display: grid;
  grid-template-columns: 35px auto 35px;
  grid-template-rows: 40px;
  grid-template-areas: ". middle .";
  align-items: center;
}

.project-name {
  grid-area: middle;
}

.image-proj-container:hover .project-title {
  visibility: visible;
}

@media screen and (max-width: 840px) {
  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .project-title {
    visibility: visible;
  }
  .filter-buttons-container {
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas:
      ". first ."
      "second third fourth";
    justify-content: center;
  }
  .all-button {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes hover-opacity {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 70%;
  }
}
