/* Project section on the home screen*/

.temporary-place-holder {
  height: 100vh;
}

.white-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  text-align: center;
  opacity: 70%;
}

.add-proj-button {
  margin-top: 30px;
}

.projects-container {
  /* background-color: #2d2d2d; */
  background-color: var(--dark-blue);
  border-radius: 15px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-section {
  display: grid;
  justify-items: center;
  align-content: center;
  padding-top: 0px;
  font-weight: normal;
  color: var(--white);
}

.filter-button {
  display: flex;
  width: 50px;
  margin-top: 15px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.chip-container {
  color: #2d2d2d;
}
.project-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.project-picture {
  width: 100%;
}

.project-picture:hover {
  opacity: 70%;
}

@media screen and (max-width: 840px) {
  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
